backports.weakref==1.0rc1
bleach==3.1.2
certifi==2017.4.17
chardet==3.0.4
click==6.7
dj-database-url==0.4.2
Django==1.11.2
Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.7.1
html5lib==0.9999999
hyperchamber==0.2.8
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
numpy==1.13.0
olefile==0.44
Pillow==4.2.0
protobuf==3.3.0
psycopg2==2.7.1
pytz==2017.2
requests==2.18.1
six==1.10.0
tensorflow-gpu==1.2.1
urllib3==1.21.1
virtualenv==15.1.0
Werkzeug==0.12.2
whitenoise==3.3.0
