<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KSmart</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="734656398511-bvq0eii3pavpasv7lj8359u6s6n41gvg.apps.googleusercontent.com">
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            document.getElementById("TokenID").value = id_token;
            document.getElementById("SignInForm").submit();
        }
    </script>
</head>
<body>
<form id = "SignInForm" action="{% url 'viewuserdata' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id = "TokenID" name="TokenID" value="Not Logged In">
    <input type="tel" id ="PhoneNumber">
    <input type="text" id ="CName">
    <input type="Text" id ="City">
</form>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
</body>
</html>